<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Contacto - Clinica Veterinaria VidaAnimal</title>
    </head>
    <body class="bg-custom-light">
        <header th:replace="~{layout/plantilla :: header}"/>

        <h1 class="text-center mb-5">

            <img src="img/icono.png" alt="VidaAnimal" height="150">
            <img src="../../static/img/icono.png" alt=""/>

        </h1>
        <main class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <h2>Historia de la Clínica</h2>

                    <p class="card-text">Nuestra clínica veterinaria abrió sus puertas en 2016 con el objetivo de brindar un espacio de confianza,
                        cuidado y profesionalismo para cada mascota y su familia. </p>
                    <p class="card-text">Inspirada en el amor por los animales y en el compromiso con su bienestar,
                        la Dra. Diana Barboza Monge fundó la clínica para ofrecer un servicio integral que combine experiencia, tecnología y un enfoque humanitario.</p>
                    <p class="card-text"> Desde sus inicios, la clínica ha crecido en sus servicios y en su equipo profesional, permitiéndonos atender de manera especializada diversas
                        necesidades de salud veterinaria, desde consultas generales hasta cirugías y tratamientos avanzados.</p>
                    <p class="card-text">A lo largo de los años, nos hemos
                        consolidado como un lugar de referencia en la comunidad, comprometidos no solo con la atención médica de cada mascota, sino también
                        con la educación de sus dueños, apoyando a nuestras familias en el cuidado y bienestar de sus compañeros.</p>
                    <p class="card-text">Con cada visita, renovamos nuestro compromiso de ofrecer un servicio de excelencia, basado en la compasión, la ética y la actualización continua, 
                        asegurándonos de que cada mascota reciba la atención personalizada y de calidad que merece.</p>
                </div>
                <div class="col-md-6">
                    <h2>Nuestros Valores</h2>
                    <h5>Compasión:</h5>
                    <p class="card-text"> Nos preocupamos profundamente por cada mascota que atendemos, comprendiendo la importancia de
                        su bienestar físico y emocional. Nuestro enfoque empático asegura que cada tratamiento se realice con sensibilidad y cuidado.</p>  
                    <h5>Excelencia:</h5>
                    <p class="card-text">Nos esforzamos por ofrecer un servicio veterinario de la más alta calidad, con atención a cada detalle y
                        con una dedicación constante a la mejora continua. Nuestro objetivo es brindar resultados excepcionales en cada consulta, tratamiento y cirugía.</p>
                    <h5>Ética Profesional:</h5>
                    <p class="card-text">Actuamos con integridad y responsabilidad en cada interacción, respetando siempre la confianza 
                        que nuestros clientes depositan en nosotros. Valoramos la transparencia y honestidad, guiándonos por los más altos 
                        estándares de ética veterinaria.</p>
                    <h5>Innovación:</h5>
                    <p class="card-text">Nos mantenemos actualizados en las últimas prácticas, tecnologías y avances en medicina veterinaria. 
                        Esta dedicación a la formación y el aprendizaje continuo nos permite ofrecer tratamientos modernos y efectivos.</p>

                </div>
            </div>
        </main> 
        <main class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <h2>Visión</h2>

                    <p class="card-text">Ser reconocidos como la clínica veterinaria líder en nuestra zona, 
                        distinguiéndonos por nuestro servicio personalizado, servicios especializados y uso de tecnología de 
                        vanguardia para optimizar la salud y el 
                        desempeño de cada animal, sea mascota o de granja.</p>
                </div>
                <div class="col-md-6">
                    <h2>Misión</h2>
                    <p class="card-text">Ser reconocidos como la clínica veterinaria líder en nuestra zona, 
                        distinguiéndonos por nuestro servicio personalizado, servicios especializados y uso de tecnología de 
                        vanguardia para optimizar la salud y el 
                        desempeño de cada animal, sea mascota o de granja.</p>
                </div>
            </div>
        </main> 
        <h2 class="text-center mb-5">
            <span style="color: #8C207A;">Nuestro</span>
            <span style="color: #9BBF63;">Equipo</span>
        </h2>
        <main class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <h2>Dra. Diana Barboza Monge</h2>
                    <h5>Licenciada en Medicina y Cirugía Veterinaria</h5>
                    <p class="card-text">La Dra. Diana Barboza Monge fundó nuestra clínica veterinaria en 2016 con el compromiso de ofrecer un servicio de calidad en el cuidado de mascotas. Con una década de experiencia, se especializa en clínica y cirugía de tejidos blandos en perros y gatos, brindando una atención excepcional y personalizada para cada paciente.</p>
                    <div class="mb-4">
                        <h4><i class="bi bi-geo-alt-fill"></i> Experiencia y Especialización</h4>
                        <h5><i class="bi bi-telephone-fill"></i> 10 Años de Experiencia en Clínica y Cirugía Veterinaria.</h5>
                        <p>La Dra. Diana se ha destacado en la cirugía de tejidos blandos en mascotas, especialmente en perros y gatos, consolidando su conocimiento y habilidades para garantizar tratamientos seguros y eficaces.</p>
                    </div>
                    <div class="mb-4">
                        <h5><i class="bi bi-telephone-fill"></i> Especialización en Dermatología Veterinaria</h5>
                        <p>Comprometida con la salud de la piel de sus pacientes, cuenta con un diplomado en dermatología veterinaria del Centro de Estudios Avanzados en Medicina Veterinaria en México. Además, completó una pasantía Dermalatam de 200 horas en Cali, Colombia.</p>
                    </div>  
                </div>

                <div class="col-md-6">
                    <img src="https://scontent.fsjo6-1.fna.fbcdn.net/v/t39.30808-6/315744346_578340197629683_8763371961888226522_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_ohc=Ws0JWHM07V0Q7kNvgEj6NYQ&_nc_oc=AdiNTayxKtbhn1nVy8cZMBas0khnoc9QSn-AD0ikk-nGTpq3HSJPV7KY-RlZtVeEpvI&_nc_zt=23&_nc_ht=scontent.fsjo6-1.fna&_nc_gid=AonYmJQgnrDJGvCbKLOED8n&oh=00_AYBMQKT5e2f3zt8d7QM0QhlTLAm44dpiBNFx0SDPUWq87g&oe=673735F1" 
                         class="card-img-top" alt="Dra. Diana Barboza" style="height: 550px; object-fit: cover;">
                </div>
            </div>
        </main>
        <main class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <h2>Dr. Juan Pablo Varela Rojas</h2>
                    <h5>Licenciado en Medicina y Cirugía Veterinaria</h5>
                    <p class="card-text">El Dr. Juan Pablo Varela Rojas es parte fundamental de nuestro equipo veterinario,
                        comprometido con la excelencia en la atención de animales pequeños y grandes. Con más de 8 años de 
                        experiencia, se especializa en medicina interna y cirugía ortopédica, proporcionando soluciones 
                        innovadoras y personalizadas para cada caso.</p>
                    <div class="mb-4">
                        <h4><i class="bi bi-geo-alt-fill"></i> Experiencia y Especialización</h4>
                        <h5><i class="bi bi-telephone-fill"></i> 8 Años de Experiencia en Medicina Veterinaria</h5>
                        <p>El Dr. Juan Pablo ha dedicado su carrera a la atención integral de mascotas y animales de granja, 
                            con un enfoque en procedimientos quirúrgicos avanzados y el manejo de enfermedades complejas.</p>
                    </div>
                    <div class="mb-4">
                        <h5><i class="bi bi-telephone-fill"></i> Especialización en Cirugía Ortopédica</h5>
                        <p>Con un enfoque en la recuperación funcional de sus pacientes, el Dr. Varela completó 
                            una especialización en cirugía ortopédica en la Universidad Nacional Autónoma de México (UNAM)
                            y ha participado en programas internacionales de formación en rehabilitación animal.</p>
                    </div>  
                </div>

                <div class="col-md-6">
                    <img src="https://scontent.fsjo6-1.fna.fbcdn.net/v/t39.30808-6/368294171_18379123498018071_6424064180114823857_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=127cfc&_nc_ohc=TN9ZJku2cIAQ7kNvgG4b_y-&_nc_oc=AdhkGq_wJJQGbpHRqkUSjmrYRu6Cnk795Im7ZxbcGA20tpJjNgSqcNZlqVHry5iYNtM&_nc_zt=23&_nc_ht=scontent.fsjo6-1.fna&_nc_gid=A6jzoVQze7ZWHvnKda3dpsM&oh=00_AYDWYqM5tv-VIfZffJJTGodQwrzwJzPw4nqVxSB8EYhSXg&oe=6741F5E1" 
                         class="card-img-top" alt="Dr. Juan Pablo" style="height: 550px; object-fit: cover;">
                </div>
            </div>
        </main>
        <footer th:replace="~{layout/plantilla :: footer}"/>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
         </body>
</html>
